<footer id="site-footer">
    <a href="index.html" class="logo pull-left m-r-2">
        <img src="~/Content/assets/img/logo.png" alt="logo" width="130">
    </a>
    <div id="social-links">
        <a href="" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="googleplus"><i class="fa fa-google-plus"></i></a>
    </div>
    <div class="copyright-text pull-right text-center small text-muted-light m-t-1 text-overflow">
        Sitemizde bulunan bir dizinin telif ihlali oluşturduğunu düşünüyorsanız telif ispat eden belgeler ile ulaşabilirsiniz.
    </div>
</footer>