@Html.Partial("_HeadPartial")
<body>
    <main id="main-wrapper">
        @Html.Partial("_HeaderPartial")
        <div class="adv-728 pull-left"></div>
        @RenderBody()

        @Html.Partial("_FooterPartial")
        <div class="popup-wrapper"></div>
    </main>
</body>
</html>