<section id="featured-posts" class="m-b-2">
    <h3 class="title title-type-2">
        <span class="circle bd-orange"></span> Yazın En Fazla İzlenen Dizileri
    </h3>
    <div class="full-width pull-left poster-tv-list-container row">
        <article class="grid-five">
            <div class="article-wide-poster m-b-2">
                <figure class="tv-poster">
                    <a href="dizi/friends.html">
                        <img src="upload/header/friends.png" class="tv-poster-img">
                    </a>
                </figure>
            </div>
            <figcaption class='thumbnail-desc span-nine pull-left'>
                <a href="dizi/friends.html" class="poster-title text-overflow">Friends</a>
                <span class="poster-alt-title text-overflow">Komedi, Romantik</span>
            </figcaption>
            <div class="span-three pull-right text-right"><span class="rating-circle">9.6</span></div>
        </article>
        <article class="grid-five">
            <div class="article-wide-poster m-b-2">
                <figure class="tv-poster">
                    <a href="dizi/black-mirror.html"><img src="upload/header/blackmirror.jpg" class="tv-poster-img"></a>
                </figure>
            </div>
            <figcaption class='thumbnail-desc span-nine pull-left'><a href="dizi/black-mirror.html" class="poster-title text-overflow">Black Mirror</a><span class="poster-alt-title text-overflow">Bilim Kurgu, Gerilim, Drama</span></figcaption>
            <div class="span-three pull-right text-right"><span class="rating-circle">8.9</span></div>
        </article>
        <article class="grid-five">
            <div class="article-wide-poster m-b-2">
                <figure class="tv-poster"><a href="dizi/american-gods.html"><img src="upload/header/american-gods.gif" class="tv-poster-img"></a></figure>
            </div>
            <figcaption class='thumbnail-desc span-nine pull-left'>
                <a href="dizi/american-gods.html" class="poster-title text-overflow">American Gods</a><span class="poster-alt-title text-overflow">Fantastik, Gizem</span>
            </figcaption>
            <div class="span-three pull-right text-right">
                <span class="rating-circle">8.3</span>
            </div>
        </article>
        <article class="grid-five">
            <div class="article-wide-poster m-b-2">
                <figure class="tv-poster"><a href="dizi/riverdale.html"><img src="upload/header/riverdale.jpg" class="tv-poster-img"></a></figure>
            </div>
            <figcaption class='thumbnail-desc span-nine pull-left'>
                <a href="dizi/riverdale.html" class="poster-title text-overflow">Riverdale</a><span class="poster-alt-title text-overflow">Suç, Drama, Gizem</span>
            </figcaption>
            <div class="span-three pull-right text-right"><span class="rating-circle">7.9</span></div>
        </article><article class="grid-five">
            <div class="article-wide-poster m-b-2">
                <figure class="tv-poster"><a href="dizi/genius.html"><img src="upload/header/genius.jpg" class="tv-poster-img"></a></figure>
            </div><figcaption class='thumbnail-desc span-nine pull-left'>
                <a href="dizi/genius.html" class="poster-title text-overflow">Genius</a><span class="poster-alt-title text-overflow">Biyografi, Drama, Tarihi</span>
            </figcaption><div class="span-three pull-right text-right"><span class="rating-circle">8.4</span></div>
        </article>
    </div>
</section>