
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="fw-thin">Üye</span>
                <span class="fw-bold">Girişi</span>
            </div>
            <div class="modal-body">
                <p class="input-group m-b-1">
                    <input type="text" placeholder="Kullanıcı adı yada email adresi" class="form-control form-control-l" data-form="login-mail">
                    <input type="password" placeholder="parolanız..." class="form-control form-control-l" data-form="login-pass">
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary full-width text-center" data-action="dizist-popup-login">
                    <i class="fa fa-sign-in"></i> Giriş Yapın
                </button>
            </div>
        </div>

    </div>
</div>
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="fw-thin">Üye</span>
                <span class="fw-bold">Kaydı</span>
            </div>
            <div class="modal-body">
                <input type="text" placeholder="kullanıcı adınız" class="form-control form-control-l" data-form="register-username">
                <input type="text" placeholder="e-posta adresiniz" class="form-control form-control-l" data-form="register-mail">
                <input type="password" placeholder="parolanÄ±z" class="form-control form-control-l" data-form="register-pass">
                <input type="password" placeholder="tekrar parolanÄ±z" class="form-control form-control-l" data-form="register-pass2">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary full-width text-center" data-action="dizist-popup-register">
                    <i class="fa fa-sign-in"></i> KAYIT OLUN
                </button>
            </div>
        </div>

    </div>
</div>