<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dizist | Yabancı Dizi izle, Yabancı Dizi, Yabancı Diziler</title>
    <link rel="stylesheet" href="~/Content/assets/css/style9c9a.css?v=3.05">
    <link rel="stylesheet" href="~/Content/assets/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600|Roboto:300,400,500,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="../maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Content/assets/js/main.min9c9a.js?v=3.05"></script>
</head>
<body>
    <div id="pageskin" data-responsive-big="https://i.hizliresim.com/ByjL4p.jpg" data-responsive-small="https://i.hizliresim.com/ByjL4p.jpg">
        <a href="" target="_blank" class="pageskin-link left"></a>
        <a href="" target="_blank" class="pageskin-link right"></a>
    </div>
    <main id="main-wrapper">
        <header id="site-header">
            <a href="index.html" class="logo pull-left m-r-3">
                <img src="assets/img/logo.png" alt="logo" width="160">
            </a>
            <a id="burger-button" class="btn" href="#menu"><i class="fa fa-bars"></i></a>
            <div class="search-form pull-left m-r-1">
                <i class="pe-7s-search" data-action="dizist-search"></i>
                <input type="search" placeholder="arama yapın...." class="form-control" data-form="search"><div id="search-results">
                </div>
            </div>
            <nav id="header-nav" class="menu-horizontal pull-left">
                <ul class="nav menu-list m-t-1 m-b-0">
                    <li class="menu-item menu-active"><a href="index.html" class="menu-link">Anasayfa</a></li>
                    <li class="menu-item"><a href="yabanci/diziler.html" class="menu-link">Yabancı Diziler</a></li>
                    <li class="menu-item"><a href="animeler.html" class="menu-link">Animeler</a></li>
                    <li class="menu-item"><a href="asyadizileri.html" class="menu-link">Asya Dizileri</a></li>
                    <li class="menu-item"><a href="arsiv.html" class="menu-link">Arşiv</a></li>
                    <li class="menu-item"><a href="iletisim.html" class="menu-link">İletişim</a></li>
                </ul>
            </nav>
            <div id="user-area" class="pull-right">
                <div class="btn" data-action="dizist-register">
                    <i class="pe-7s-add-user"></i> <span>Kayıt Ol</span>
                </div>
                <div class="btn btn-s btn-outline border-radius-large btn-outline-primary" data-action="dizist-login">
                    <i class="pe-7s-door-lock"></i> <span>Giriş Yap</span>
                </div>
            </div>
        </header>
        <div class="adv-728 pull-left"></div>
        <section id="featured-posts" class="m-b-2">
            <h3 class="title title-type-2">
                <span class="circle bd-orange"></span> Yazın En Fazla İzlenen Dizileri
            </h3>
            <div class="full-width pull-left poster-tv-list-container row">
                <article class="grid-five">
                    <div class="article-wide-poster m-b-2">
                        <figure class="tv-poster">
                            <a href="dizi/friends.html">
                                <img src="upload/header/friends.png" class="tv-poster-img">
                            </a>
                        </figure>
                    </div>
                    <figcaption class='thumbnail-desc span-nine pull-left'>
                        <a href="dizi/friends.html" class="poster-title text-overflow">Friends</a>
                        <span class="poster-alt-title text-overflow">Komedi, Romantik</span>
                    </figcaption>
                    <div class="span-three pull-right text-right"><span class="rating-circle">9.6</span></div>
                </article>
                <article class="grid-five">
                    <div class="article-wide-poster m-b-2">
                        <figure class="tv-poster">
                            <a href="dizi/black-mirror.html"><img src="upload/header/blackmirror.jpg" class="tv-poster-img"></a>
                        </figure>
                    </div>
                    <figcaption class='thumbnail-desc span-nine pull-left'><a href="dizi/black-mirror.html" class="poster-title text-overflow">Black Mirror</a><span class="poster-alt-title text-overflow">Bilim Kurgu, Gerilim, Drama</span></figcaption>
                    <div class="span-three pull-right text-right"><span class="rating-circle">8.9</span></div>
                </article>
                <article class="grid-five">
                    <div class="article-wide-poster m-b-2">
                        <figure class="tv-poster"><a href="dizi/american-gods.html"><img src="upload/header/american-gods.gif" class="tv-poster-img"></a></figure>
                    </div><figcaption class='thumbnail-desc span-nine pull-left'><a href="dizi/american-gods.html" class="poster-title text-overflow">American Gods</a><span class="poster-alt-title text-overflow">Fantastik, Gizem</span></figcaption><div class="span-three pull-right text-right">
                        <span class="rating-circle">8.3</span>
                    </div>
                </article>
                <article class="grid-five">
                    <div class="article-wide-poster m-b-2">
                        <figure class="tv-poster"><a href="dizi/riverdale.html"><img src="upload/header/riverdale.jpg" class="tv-poster-img"></a></figure>
                    </div>
                    <figcaption class='thumbnail-desc span-nine pull-left'><a href="dizi/riverdale.html" class="poster-title text-overflow">Riverdale</a><span class="poster-alt-title text-overflow">Suç, Drama, Gizem</span></figcaption><div class="span-three pull-right text-right"><span class="rating-circle">7.9</span></div>
                </article><article class="grid-five">
                    <div class="article-wide-poster m-b-2">
                        <figure class="tv-poster"><a href="dizi/genius.html"><img src="upload/header/genius.jpg" class="tv-poster-img"></a></figure>
                    </div><figcaption class='thumbnail-desc span-nine pull-left'>
                        <a href="dizi/genius.html" class="poster-title text-overflow">Genius</a><span class="poster-alt-title text-overflow">Biyografi, Drama, Tarihi</span>
                    </figcaption><div class="span-three pull-right text-right"><span class="rating-circle">8.4</span></div>
                </article>
            </div>
        </section>
        <div class="adv-728 pull-left"></div>
        <div class="content-wrapper p-t-2">
            <section class="tv-series-list full-width pull-left">
                <h3 class="title">  <span class="circle bd-green"></span> Yeni Eklenen Dizi Bölümleri</h3>
                <div class="full-width pull-left poster-tv-list-container row">
                    <article class="article-wide-poster grid-five">
                        <figure class="tv-poster">
                            <a href="izle/scorpion-4-sezon-11-bolum.html">
                                <img src="upload/dizikuturesim/8hbz0pzzkqzc6ah77vq6b9o7.jpg" class='tv-poster-img'><div class="article-release"><span>12 Aralık</span></div><div class="h-series-lang tr"></div>
                                <figcaption class='thumbnail-figcaption'><span class="poster-title link-unstyled text-overflow">Scorpion</span><span class="poster-alt-title text-muted-light text-overflow">4. sezon 11. bölüm</span></figcaption><div class="thumbnail-gradient"></div>
                            </a>
                        </figure>
                    </article>
                    <article class="article-wide-poster grid-five">
                        <figure class="tv-poster">
                            <a href="izle/lucifer-3-sezon-10-bolum.html">
                                <img src="upload/dizikuturesim/p1l3bqib0vtfyyjk1wxax9jx.jpg" class='tv-poster-img'>
                                <div class="article-release"><span>12 Aralık</span></div><div class="h-series-lang tr"></div>
                                <figcaption class='thumbnail-figcaption'>
                                    <span class="poster-title link-unstyled text-overflow">Lucifer</span>
                                    <span class="poster-alt-title text-muted-light text-overflow">3. sezon 10. bölüm</span>
                                </figcaption><div class="thumbnail-gradient"></div>
                            </a>
                        </figure>
                    </article>
                    <article class="article-wide-poster grid-five">
                        <figure class="tv-poster"><a href="izle/travelers-2-sezon-10-bolum.html"><img src="upload/dizikuturesim/d3uxanhqvasqkqk8154xc1yw.jpg" class='tv-poster-img'><div class="article-release"><span>12 Aralık</span></div><div class="h-series-lang tr"></div><figcaption class='thumbnail-figcaption'><span class="poster-title link-unstyled text-overflow">Travelers</span><span class="poster-alt-title text-muted-light text-overflow">2. sezon 10. bölüm</span></figcaption><div class="thumbnail-gradient"></div></a></figure>
                    </article>
                    <article class="article-wide-poster grid-five">
                        <figure class="tv-poster"><a href="izle/travelers-2-sezon-9-bolum.html"><img src="upload/dizikuturesim/d3uxanhqvasqkqk8154xc1yw.jpg" class='tv-poster-img'><div class="article-release"><span>12 Aralık</span></div><div class="h-series-lang tr"></div><figcaption class='thumbnail-figcaption'><span class="poster-title link-unstyled text-overflow">Travelers</span><span class="poster-alt-title text-muted-light text-overflow">2. sezon 9. bölüm</span></figcaption><div class="thumbnail-gradient"></div></a></figure>
                    </article>
                    <article class="article-wide-poster grid-five">
                        <figure class="tv-poster"><a href="izle/man-with-a-plan-2-sezon-5-bolum.html"><img src="upload/dizikuturesim/ovzb97ih6xekd1pnwv6va1ff.jpg" class='tv-poster-img'><div class="article-release"><span>12 Aralık</span></div><div class="h-series-lang tr"></div><figcaption class='thumbnail-figcaption'><span class="poster-title link-unstyled text-overflow">Man with a Plan</span><span class="poster-alt-title text-muted-light text-overflow">2. sezon 5. bölüm</span></figcaption><div class="thumbnail-gradient"></div></a></figure>
                    </article>
                    <article class="article-wide-poster grid-five">
                        <figure class="tv-poster"><a href="izle/the-gifted-1-sezon-10-bolum.html"><img src="upload/dizikuturesim/zcl8ci4mht3eds60aj2l8y1n.jpg" class='tv-poster-img'><div class="article-release"><span>12 Aralık</span></div><div class="h-series-lang tr"></div><figcaption class='thumbnail-figcaption'><span class="poster-title link-unstyled text-overflow">The Gifted</span><span class="poster-alt-title text-muted-light text-overflow">1. sezon 10. bölüm</span></figcaption><div class="thumbnail-gradient"></div></a></figure>
                    </article>
                    <article class="article-wide-poster grid-five">
                        <figure class="tv-poster"><a href="izle/valor-1-sezon-9-bolum.html"><img src="upload/dizikuturesim/0zypqpa487ih61a9zc8dsuui.jpg" class='tv-poster-img'><div class="article-release"><span>12 Aralık</span></div><div class="h-series-lang tr"></div><figcaption class='thumbnail-figcaption'><span class="poster-title link-unstyled text-overflow">Valor</span><span class="poster-alt-title text-muted-light text-overflow">1. sezon 9. bölüm</span></figcaption><div class="thumbnail-gradient"></div></a></figure>
                    </article>
                    <article class="article-wide-poster grid-five">
                        <figure class="tv-poster"><a href="izle/happy-1-sezon-1-bolum.html"><img src="upload/dizikuturesim/8nf8bofb586zd32ptc16lex0.jpg" class='tv-poster-img'><div class="article-release"><span>12 Aralık</span></div><div class="h-series-lang tr"></div><figcaption class='thumbnail-figcaption'><span class="poster-title link-unstyled text-overflow">Happy!</span><span class="poster-alt-title text-muted-light text-overflow">1. sezon 1. bölüm</span></figcaption><div class="thumbnail-gradient"></div></a></figure>
                    </article>
                    <article class="article-wide-poster grid-five">
                        <figure class="tv-poster"><a href="izle/bancroft-1-sezon-1-bolum.html"><img src="upload/dizikuturesim/ojdn5j4jdrdwntkaxiy98ou5.jpg" class='tv-poster-img'><div class="article-release"><span>12 Aralık</span></div><div class="h-series-lang tr"></div><figcaption class='thumbnail-figcaption'><span class="poster-title link-unstyled text-overflow">Bancroft</span><span class="poster-alt-title text-muted-light text-overflow">1. sezon 1. bölüm</span></figcaption><div class="thumbnail-gradient"></div></a></figure>
                    </article>
                    <article class="article-wide-poster grid-five">
                        <figure class="tv-poster"><a href="izle/shameless-8-sezon-6-bolum.html"><img src="upload/dizikuturesim/bsbvapynaae9d7k5i6wc5yj6.jpg" class='tv-poster-img'><div class="article-release"><span>11 Aralık</span></div><div class="h-series-lang tr"></div><figcaption class='thumbnail-figcaption'><span class="poster-title link-unstyled text-overflow">Shameless</span><span class="poster-alt-title text-muted-light text-overflow">8. sezon 6. bölüm</span></figcaption><div class="thumbnail-gradient"></div></a></figure>
                    </article>
                    <article class="article-wide-poster grid-five">
                        <figure class="tv-poster"><a href="izle/family-guy-16-sezon-9-bolum.html"><img src="upload/dizikuturesim/unxlffqpfimlqmxcyhp4q42t.jpg" class='tv-poster-img'><div class="article-release"><span>11 Aralık</span></div><div class="h-series-lang tr"></div><figcaption class='thumbnail-figcaption'><span class="poster-title link-unstyled text-overflow">Family Guy</span><span class="poster-alt-title text-muted-light text-overflow">16. sezon 9. bölüm</span></figcaption><div class="thumbnail-gradient"></div></a></figure>
                    </article>
                    <article class="article-wide-poster grid-five">
                        <figure class="tv-poster"><a href="izle/the-simpsons-29-sezon-9-bolum.html"><img src="upload/dizikuturesim/oxj8yg0l5mnduko5bg9duttx.jpg" class='tv-poster-img'><div class="article-release"><span>11 Aralık</span></div><div class="h-series-lang tr"></div><figcaption class='thumbnail-figcaption'><span class="poster-title link-unstyled text-overflow">The Simpsons</span><span class="poster-alt-title text-muted-light text-overflow">29. sezon 9. bölüm</span></figcaption><div class="thumbnail-gradient"></div></a></figure>
                    </article>
                    <article class="article-wide-poster grid-five">
                        <figure class="tv-poster"><a href="izle/outlander-3-sezon-13-bolum.html"><img src="upload/dizikuturesim/18eqicu6l82dmzruty8y28zl.jpg" class='tv-poster-img'><div class="article-release"><span>11 Aralık</span></div><div class="h-series-lang tr"></div><figcaption class='thumbnail-figcaption'><span class="poster-title link-unstyled text-overflow">Outlander</span><span class="poster-alt-title text-muted-light text-overflow">3. sezon 13. bölüm</span></figcaption><div class="thumbnail-gradient"></div></a></figure>
                    </article>
                    <article class="article-wide-poster grid-five">
                        <figure class="tv-poster"><a href="izle/good-behavior-2-sezon-9-bolum.html"><img src="upload/dizikuturesim/eeo300uuahlq2xw6i9o6rzbg.jpg" class='tv-poster-img'><div class="article-release"><span>11 Aralık</span></div><div class="h-series-lang tr"></div><figcaption class='thumbnail-figcaption'><span class="poster-title link-unstyled text-overflow">Good Behavior</span><span class="poster-alt-title text-muted-light text-overflow">2. sezon 9. bölüm</span></figcaption><div class="thumbnail-gradient"></div></a></figure>
                    </article>
                    <article class="article-wide-poster grid-five">
                        <figure class="tv-poster"><a href="izle/houdini-and-doyle-1-sezon-8-bolum.html"><img src="upload/dizikuturesim/m7namsx9vzjz483ar2tmq13m.jpg" class='tv-poster-img'><div class="article-release"><span>11 Aralık</span></div><div class="h-series-lang tr"></div><figcaption class='thumbnail-figcaption'><span class="poster-title link-unstyled text-overflow">Houdini and Doyle</span><span class="poster-alt-title text-muted-light text-overflow">1. sezon 8. bölüm</span></figcaption><div class="thumbnail-gradient"></div></a></figure>
                    </article>
                    <article class="article-wide-poster grid-five">
                        <figure class="tv-poster"><a href="izle/houdini-and-doyle-1-sezon-7-bolum.html"><img src="upload/dizikuturesim/m7namsx9vzjz483ar2tmq13m.jpg" class='tv-poster-img'><div class="article-release"><span>11 Aralık</span></div><div class="h-series-lang tr"></div><figcaption class='thumbnail-figcaption'><span class="poster-title link-unstyled text-overflow">Houdini and Doyle</span><span class="poster-alt-title text-muted-light text-overflow">1. sezon 7. bölüm</span></figcaption><div class="thumbnail-gradient"></div></a></figure>
                    </article>
                    <article class="article-wide-poster grid-five">
                        <figure class="tv-poster"><a href="izle/wisdom-of-the-crowd-1-sezon-10-bolum.html"><img src="upload/dizikuturesim/t1uzdopel540hvsf9tc0xx7i.jpg" class='tv-poster-img'><div class="article-release"><span>11 Aralık</span></div><div class="h-series-lang tr"></div><figcaption class='thumbnail-figcaption'><span class="poster-title link-unstyled text-overflow">Wisdom of the Crowd</span><span class="poster-alt-title text-muted-light text-overflow">1. sezon 10. bölüm</span></figcaption><div class="thumbnail-gradient"></div></a></figure>
                    </article>
                    <article class="article-wide-poster grid-five">
                        <figure class="tv-poster"><a href="izle/the-marvelous-mrs-maisel-1-sezon-5-bolum.html"><img src="upload/dizikuturesim/gff4o4voyathbzuj7mytf3g8.jpg" class='tv-poster-img'><div class="article-release"><span>11 Aralık</span></div><div class="h-series-lang tr"></div><figcaption class='thumbnail-figcaption'><span class="poster-title link-unstyled text-overflow">The Marvelous Mrs. Maisel</span><span class="poster-alt-title text-muted-light text-overflow">1. sezon 5. bölüm</span></figcaption><div class="thumbnail-gradient"></div></a></figure>
                    </article>
                    <article class="article-wide-poster grid-five">
                        <figure class="tv-poster"><a href="izle/smilf-1-sezon-6-bolum.html"><img src="upload/dizikuturesim/02nxhpg109uc06106ofdrolx.jpg" class='tv-poster-img'><div class="article-release"><span>11 Aralık</span></div><div class="h-series-lang tr"></div><figcaption class='thumbnail-figcaption'><span class="poster-title link-unstyled text-overflow">Smilf</span><span class="poster-alt-title text-muted-light text-overflow">1. sezon 6. bölüm</span></figcaption><div class="thumbnail-gradient"></div></a></figure>
                    </article>
                    <article class="article-wide-poster grid-five">
                        <figure class="tv-poster"><a href="izle/dirk-gentlys-holistic-detective-agency-2-sezon-9-bolum.html"><img src="upload/dizikuturesim/r5sfwuxi0347mp2xpqvs67jr.jpg" class='tv-poster-img'><div class="article-release"><span>10 Aralık</span></div><div class="h-series-lang tr"></div><figcaption class='thumbnail-figcaption'><span class="poster-title link-unstyled text-overflow">Dirk Gently&#x27;s Holistic Detective Agency</span><span class="poster-alt-title text-muted-light text-overflow">2. sezon 9. bölüm</span></figcaption><div class="thumbnail-gradient"></div></a></figure>
                    </article>
                    <article class="article-wide-poster grid-five">
                        <figure class="tv-poster"><a href="izle/jordskott-2-sezon-8-bolum.html"><img src="upload/dizikuturesim/918xpl1c8uvlgmtyy254p3z9.jpg" class='tv-poster-img'><div class="article-release"><span>10 Aralık</span></div><div class="h-series-lang tr"></div><figcaption class='thumbnail-figcaption'><span class="poster-title link-unstyled text-overflow">Jordskott</span><span class="poster-alt-title text-muted-light text-overflow">2. sezon 8. bölüm</span></figcaption><div class="thumbnail-gradient"></div></a></figure>
                    </article>
                    <article class="article-wide-poster grid-five">
                        <figure class="tv-poster"><a href="izle/agents-of-s.h.i.e.l.html"><img src="upload/dizikuturesim/4929773211.png" class='tv-poster-img'><div class="article-release"><span>9 Aralık</span></div><div class="h-series-lang tr"></div><figcaption class='thumbnail-figcaption'><span class="poster-title link-unstyled text-overflow">Agents of S.H.I.E.L.D</span><span class="poster-alt-title text-muted-light text-overflow">5. sezon 3. bölüm</span></figcaption><div class="thumbnail-gradient"></div></a></figure>
                    </article>
                    <article class="article-wide-poster grid-five">
                        <figure class="tv-poster"><a href="izle/once-upon-a-time-7-sezon-9-bolum.html"><img src="upload/dizikuturesim/8h9611crbvbuaxc9kci8s9vz.jpg" class='tv-poster-img'><div class="article-release"><span>9 Aralık</span></div><div class="h-series-lang tr"></div><figcaption class='thumbnail-figcaption'><span class="poster-title link-unstyled text-overflow">Once Upon a Time</span><span class="poster-alt-title text-muted-light text-overflow">7. sezon 9. bölüm</span></figcaption><div class="thumbnail-gradient"></div></a></figure>
                    </article>
                    <article class="article-wide-poster grid-five">
                        <figure class="tv-poster"><a href="izle/hawaii-five-0-8-sezon-9-bolum.html"><img src="upload/dizikuturesim/zmohs2rgnkdhrsgeitd4erq5.jpg" class='tv-poster-img'><div class="article-release"><span>9 Aralık</span></div><div class="h-series-lang tr"></div><figcaption class='thumbnail-figcaption'><span class="poster-title link-unstyled text-overflow">Hawaii Five 0</span><span class="poster-alt-title text-muted-light text-overflow">8. sezon 9. bölüm</span></figcaption><div class="thumbnail-gradient"></div></a></figure>
                    </article>
                    <article class="article-wide-poster grid-five">
                        <figure class="tv-poster"><a href="izle/z-nation-4-sezon-11-bolum.html"><img src="upload/dizikuturesim/82q0qviepyb9cpl449r51ck6.jpg" class='tv-poster-img'><div class="article-release"><span>9 Aralık</span></div><div class="h-series-lang tr"></div><figcaption class='thumbnail-figcaption'><span class="poster-title link-unstyled text-overflow">Z Nation</span><span class="poster-alt-title text-muted-light text-overflow">4. sezon 11. bölüm</span></figcaption><div class="thumbnail-gradient"></div></a></figure>
                    </article>

                </div>
            </section>
            <div class="full-width pull-left m-t-3">
                <section class="new-anime-episodes">
                    <h4 class="title">
                        <span class="circle bd-orange"></span> Yeni Eklenen Anime Bölümleri
                    </h4>
                    <div class="full-width pull-left poster-tv-table-container row">
                        <article class="article-list-item">
                            <figure class="small-thumbnail">
                                <a href="izle/soul-buster-1-sezon-10-bolum.html"><img src="upload/dizikuturesim/mypl45fruc26mpudyr8787p3.jpg" class="anime-poster"></a>
                            </figure><a href="izle/soul-buster-1-sezon-10-bolum.html" class="article-title pull-left span-seven"><div class="series-name"><b>Soul Buster</b></div><div class="series-episode">1. sezon 10. bölüm <span class="secondary-color">(Episode 10)</span></div></a><div class="article-release m-t-1 fw-light pull-left" title="Yayınlanma tarihi"><i class="pe-7s-date"></i> <span class="text-muted">31 Aralık</span></div><a href="izle/soul-buster-1-sezon-10-bolum.html" class="play-icon pull-right m-t-1"><i class="pe-7s-play"></i></a>
                        </article>
                        <article class="article-list-item">
                            <figure class="small-thumbnail"><a href="izle/izetta-die-letzte-hexe-1-sezon-9-bolum.html"><img src="upload/dizikuturesim/08idn4h2l9vpmf4d9j6ex55c.jpg" class="anime-poster"></a></figure><a href="izle/izetta-die-letzte-hexe-1-sezon-9-bolum.html" class="article-title pull-left span-seven"><div class="series-name"><b>Izetta: Die Letzte Hexe</b></div><div class="series-episode">1. sezon 9. bölüm <span class="secondary-color">(Episode #1.9)</span></div></a><div class="article-release m-t-1 fw-light pull-left" title="Yayınlanma tarihi"><i class="pe-7s-date"></i> <span class="text-muted">26 Aralık</span></div><a href="izle/izetta-die-letzte-hexe-1-sezon-9-bolum.html" class="play-icon pull-right m-t-1"><i class="pe-7s-play"></i></a>
                        </article>
                        <article class="article-list-item">
                            <figure class="small-thumbnail"><a href="izle/soul-buster-1-sezon-9-bolum.html"><img src="upload/dizikuturesim/mypl45fruc26mpudyr8787p3.jpg" class="anime-poster"></a></figure><a href="izle/soul-buster-1-sezon-9-bolum.html" class="article-title pull-left span-seven"><div class="series-name"><b>Soul Buster</b></div><div class="series-episode">1. sezon 9. bölüm <span class="secondary-color">(Episode 9)</span></div></a><div class="article-release m-t-1 fw-light pull-left" title="Yayınlanma tarihi"><i class="pe-7s-date"></i> <span class="text-muted">20 Aralık</span></div><a href="izle/soul-buster-1-sezon-9-bolum.html" class="play-icon pull-right m-t-1"><i class="pe-7s-play"></i></a>
                        </article>
                        <article class="article-list-item">
                            <figure class="small-thumbnail"><a href="izle/soul-buster-1-sezon-8-bolum.html"><img src="upload/dizikuturesim/mypl45fruc26mpudyr8787p3.jpg" class="anime-poster"></a></figure><a href="izle/soul-buster-1-sezon-8-bolum.html" class="article-title pull-left span-seven"><div class="series-name"><b>Soul Buster</b></div><div class="series-episode">1. sezon 8. bölüm <span class="secondary-color">(Episode 8)</span></div></a><div class="article-release m-t-1 fw-light pull-left" title="Yayınlanma tarihi"><i class="pe-7s-date"></i> <span class="text-muted">20 Aralık</span></div><a href="izle/soul-buster-1-sezon-8-bolum.html" class="play-icon pull-right m-t-1"><i class="pe-7s-play"></i></a>
                        </article>
                        <article class="article-list-item">
                            <figure class="small-thumbnail"><a href="izle/soul-buster-1-sezon-7-bolum.html"><img src="upload/dizikuturesim/mypl45fruc26mpudyr8787p3.jpg" class="anime-poster"></a></figure><a href="izle/soul-buster-1-sezon-7-bolum.html" class="article-title pull-left span-seven"><div class="series-name"><b>Soul Buster</b></div><div class="series-episode">1. sezon 7. bölüm <span class="secondary-color">(Episode 7)</span></div></a><div class="article-release m-t-1 fw-light pull-left" title="Yayınlanma tarihi"><i class="pe-7s-date"></i> <span class="text-muted">20 Aralık</span></div><a href="izle/soul-buster-1-sezon-7-bolum.html" class="play-icon pull-right m-t-1"><i class="pe-7s-play"></i></a>
                        </article>
                        <article class="article-list-item">
                            <figure class="small-thumbnail"><a href="izle/soul-buster-1-sezon-6-bolum.html"><img src="upload/dizikuturesim/mypl45fruc26mpudyr8787p3.jpg" class="anime-poster"></a></figure><a href="izle/soul-buster-1-sezon-6-bolum.html" class="article-title pull-left span-seven"><div class="series-name"><b>Soul Buster</b></div><div class="series-episode">1. sezon 6. bölüm <span class="secondary-color">(Episode 6)</span></div></a><div class="article-release m-t-1 fw-light pull-left" title="Yayınlanma tarihi"><i class="pe-7s-date"></i> <span class="text-muted">20 Aralık</span></div><a href="izle/soul-buster-1-sezon-6-bolum.html" class="play-icon pull-right m-t-1"><i class="pe-7s-play"></i></a>
                        </article>
                    </div>
                </section>
                <section class="new-anime-series">
                    <h4 class="title">
                        <span class="circle bd-red"></span> Yeni Eklenen Animeler
                    </h4>
                    <div class="full-width pull-left poster-tv-list-container masonry-wrap">
                        <article class="featured-tv-poster masonry-grid-three">
                            <figure class="tv-poster"><a href="dizi/soul-buster.html"><img src="upload/diziafis/qcnma2syjnlfqd5bxvubxbvc-b.jpg" class="tv-poster-img"><figcaption class='thumbnail-figcaption'><span class="poster-title link-unstyled text-overflow">Soul Buster</span></figcaption><div class="thumbnail-gradient"></div></a></figure>
                        </article>
                        <div class="m-t-1"></div>
                        <article class="article-wide-poster masonry-grid-three">
                            <figure class="tv-poster">
                                <a href="dizi/izetta-die-letzte-hexe.html">
                                    <img src="upload/dizikuturesim/08idn4h2l9vpmf4d9j6ex55c.jpg" class="tv-poster-img">
                                    <figcaption class='thumbnail-figcaption'><span class="poster-title link-unstyled text-overflow">Izetta: Die Letzte Hexe</span></figcaption><div class="thumbnail-gradient"></div>
                                </a>
                            </figure>
                        </article>
                        <article class="article-wide-poster masonry-grid-three"><figure class="tv-poster"><a href="dizi/beruseruku.html"><img src="upload/dizikuturesim/tr7s9tbh0ojanwrnlucrxvbw.jpg" class="tv-poster-img"><figcaption class='thumbnail-figcaption'><span class="poster-title link-unstyled text-overflow">Beruseruku</span></figcaption><div class="thumbnail-gradient"></div></a></figure></article>
                        <article class="article-wide-poster masonry-grid-three">
                            <figure class="tv-poster"><a href="dizi/hellsing.html"><img src="upload/dizikuturesim/1wauqcjwqan9ddfe6egu6ziz.jpg" class="tv-poster-img"><figcaption class='thumbnail-figcaption'><span class="poster-title link-unstyled text-overflow">Hellsing</span></figcaption><div class="thumbnail-gradient"></div></a></figure>
                        </article>
                    </div>
                </section>
            </div>
        </div>
        <div class="adv adv-sticky-bottom">
            <div class="sticky-container">
                <div data-action="dizist-close-sticky" class="adv-close"> &times;</div>
            </div>
        </div>
        <footer id="site-footer">
            <a href="index.html" class="logo pull-left m-r-2"><img src="assets/img/logo.png" alt="logo" width="130"></a><div id="social-links">
                <a href="https://www.facebook.com/dizist/" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/dizistcom" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="googleplus"><i class="fa fa-google-plus"></i></a>
                <a class="rss" href="http://www.fullhdfilmsitesi.net/" title="hd film izle">hd film izle</a>
            </div>
            <div class="copyright-text pull-right text-center small text-muted-light m-t-1 text-overflow">Sitemizde bulunan bir dizinin telif ihlali oluşturduğunu düşünüyorsanız telif ispat eden belgeler ile ulaşabilirsiniz.</div>
        </footer>
        <div class="popup-wrapper"></div>
    </main>
</body>
</html>